.table-box {
	padding:0 10px;
}

.table-box > table {
	width:100%;
	border-top:3px solid black;
	border-bottom:3px solid black;
	border-collapse:collapse;
	text-align:center;
}

.table-box > table th, .table-box > table td {
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.table-box > table th {
	background: linear-gradient(to right, #0082c8, #0082c8);
	color:white;
}

#paging {
  text-align:center;
  margin: 20px 0;
  margin-bottom:20px;
}

#paging ul {
  display:inline-block;
}

#paging ul > li {
  display:inline-block;
  padding: 0 20px;
}

#paging ul > li > a {
  padding:0 10px;
}

#paging ul > li:hover > a {
  background-color:#0082c8;
  color:white;
}

#paging ul > li.current > a {
	color:#f12711;
}

#paging ul > li.current:hover > a {
	background-color:inherit;
}

#paging .btn {
  border:1px solid #afafaf;
  border-radius:15%;
  padding:0 10px;
}

.con > h1 {
	margin-top:5%;
}